.App {
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Comfortaa', cursive;
  color: #2f496e;
}

h3 {
  font-family: 'Comfortaa', cursive;
  color: #fbfcf4;
}

#home {
  width: 100vw;
}

#matches {
  width: 600px;
  height: 500px;
  border-width: 10px;
  border: solid black;
  /* opacity: 0.8; */
}

form {
 
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

#petformlabel {
  border: solid black;
  width: 30px;
  text-align: left;
}

select {
  max-width: 200px;
  text-align: right;
  
}

#UserForm {
  font-size: 30px;
}

table {
  display: inline-block;
  text-align: center;
  width: 625px;
  
}

td {
  width: 600px
}


input[type=submit] {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fbfcf4;
  background-color: #fa8d62;
  border: none;
  min-width: 85px;
  height: 30px;
  border-radius: 13px;
  margin: 15px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #f37847;
}

li {
  display:inline-block;
}

li>a {
  font-family: 'Quicksand', sans-serif;
  color: #fbfcf4;
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  cursor: pointer;
}

li>a:hover {
  background-color: #90a84d;
}

ul {
  list-style: none;
  margin: 15px 0 0 0;
}

.btn {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fbfcf4;
  background-color: #fa8d62;
  border: none;
  min-width: 85px;
  height: 40px;
  border-radius: 15px;
  margin: 15px;
  cursor: pointer;
  }
  
  .btn:hover {
    background-color: #f37847;
  }

.footer {
  text-align: left;
  background-color: #a5c05b;
  color: #fbfcf4;
  height: 5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 13px;
}

.footer-content {
  margin-left: 10px;
}

.logo-container {
  margin-left: 10px;
  max-height: 8vh;
  padding: 3px;
}
.left-align-text {
text-align: left;
}

.header-logo {
  max-height: 7.5vh;
}

.nav {
  background-color: #a5c05b;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  background-color:  #f37847;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;

}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
}

.select {
  margin: 10px;
  width: 110px;
  text-align: center;

}

.container {
  display: flex;
  justify-content: space-around;

}

/* .caption {
  font-family: 'Comfortaa', cursive;
color: black;
font-weight: 900;
} */

.caption:hover {
color: #f37847;
}

.caption {
  color: #90a84d;
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
#petname{
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  
}

#petname:hover {
  color: #90a84d;
  }

/* .carousel-caption {
  position: relative;
  left: 0;
  top: 0;
} */