html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  width: 100%;
  margin-bottom: 5vh; /* Margin bottom by footer height */
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}